#
# Integrity configuration
#

config INTEGRITY
	bool "Enable different integrity models"
	help
	  This allows you to choose different integrity modules to be
	  configured into your kernel.

	  If you are unsure how to answer this question, answer N.

config INTEGRITY_AUDIT
	bool "Integrity audit boot parameter"
	depends on INTEGRITY
	default y
	help
	  This option adds a kernel parameter 'integrity_audit', which
	  allows integrity auditing to be disabled at boot.  If this
	  option is selected, integrity auditing can be disabled with
	  'integrity_audit=0' on the kernel command line.

source security/integrity/ima/Kconfig
